* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

:root {
  /* Background */
  --main-bg: #121212;
  --canvas-bg: #242424;
  --input-bg: rgba(255, 255, 255, 0.1);

  /* Text */
  --primary-text: #fff;
  --label-text: #fff;
  --placeholder-text: #a7a7a7;
  --link-hover: #808080;
}

body {
  background-color: var(--main-bg);
  color: var(--primary-text);
  font-family: Poppins, sans-serif;
}

a {
  color: var(--primary-text);
}

.wrapper {
  width: 100vw;
  height: 100vh;
  max-width: 1800px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.title,
.made-by {
  text-align: center;
}

.made-by > a {
  transition: color 200ms ease-in-out;
}

.made-by > a:hover {
  color: var(--link-hover);
}

.options {
  width: 270px;
  max-height: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.options::-webkit-scrollbar {
  display: none;
}

.title > h2,
.options > h2 {
  font-weight: normal;
}

.main-content {
  width: 90%;
  max-height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.input-group {
  position: relative;
  height: 56px;
}

.input-group > input {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
  padding-right: 12px;
  padding-left: 12px;
  top: 5px;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  color: var(--label-text);
  background-color: var(--input-bg);
}

.input-group > input:focus {
  outline: none;
}

.input-group > label {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 12px;
  transform: translateY(-30%);

  font-size: 1rem;
  color: var(--placeholder-text);
  transition: font-size 200ms ease-in-out, top 200ms ease-in-out,
    transform 200ms ease-in-out;
  pointer-events: none;
}

.input-group > input:focus + label,
.input-group > input:valid + label {
  color: var(--label-text);
  font-size: 0.85rem;
  top: 5px;
  transform: translateY(0%);
}

/* Hide number spin button */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

canvas {
  background-color: var(--canvas-bg);
}
